
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>QuestionBank</title>
        <link rel="stylesheet" href="{% static 'equationList/css/pdfNote/pdfNote.css' %}">
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                font-size: "1.5em",
                tex2jax: {ignoreClass: "latexMotherCell"}
              CommonHTML: { linebreaks: { automatic: true } },
              "HTML-CSS": { linebreaks: { automatic: true } },
                     SVG: { linebreaks: { automatic: true } }
            });
        </script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script type="text/javascript" id="MathJax-script"
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
      </script>
    </head>
    <body>

        <div class="mode">Command</div>
        <!-- <div class="screenSwitch">hide</div> -->
        <div class="counterContainer">



            <div class="functionButton">
                <div class="functionFirstLine">
                    <input type="text" class="pdfImageFileName" label="fileName" placeholder="fileName"></input>
                    <input type="text" class="pdfImageFileNameNumber" label="number" placeholder="page"></input>

                    <input class="pdfImageSubmit" type="submit"></input>
                    <button class="rotateImage">rotate</button>
                    <!-- <input type="number" class="resizeWidth" label="number" placeholder="50"></input> -->

                    <input type="text" class="pdfFileNameInput" placeholder="pdfName"></input>
                    <input type="submit" class="pdfFileNameSubmit"></input>
                    <span class="annotationID">1</span>
                    <span class="cellID">1</span>
                </div> <!--functionFirstLine  -->

                <div class="functionSecondLine">
                    {{chapter}}
                    <input type="text" class="searchInput" placeholder="search"></input>
                    <!-- <select class="pdfSelect" name="pdfSelect">
                        <option value="audi">Audi</option>
                    </select> -->
                    <button class="resizeWidth">pdfView</button>
                    <button class="showQuestionButton">show Questions</button>
                    <button class="changeFrameButton">showIframe</button>
                    <a href="{% url 'tocPage' %}">to TOC</a>
                </div><!-- functionSecondLine -->



            </div><!-- functionButton -->
        </div>

        <div id="pageWrapper">

            <div class="noteContainer">
                <div class="noteInfo">
                    <h1 class="noteTitle" contenteditable="true">{{title}}</h1>
                    <h2 class="noteChapter" contenteditable="true">{{chapter}}</h2>
                    <h2 class="book" contenteditable="true">{{book}}</h2>
                </div>

                <button class="saveButton">save Butotn</button>


{{book}}
            </div>

            <!-- <div class="noteContainer"></div> -->

            <!-- <div class="pdfContainer">

                <div class="pdfImageContainer"></div>
                <iframe id="pdfIframe" src="{% static 'equationList/books' %}/{{book}}"
                <iframe id="pdfIframe"
                style="border: none;"></iframe>

                <div class="noteCardContainer">
                    <div class="sectionColumn"></div>
                </div>
            </div> -->


<!--
            <iframe id="pdfIframe" src="/static/equationList/books/Introduction_to_Electrodynamics/Introduction to Electrodynamics 4th Edition.pdf" style="border: none;"></iframe> -->


        </div>

    </body>
    <script src="{% static 'equationList/js/pdfNote/initializeFunctions.js' %}" charset="utf-8"></script>
    <script type="text/javascript">
        let csrf_token = "{{ csrf_token }}"
        let url = "{% url 'processData' %}"
        let load = "{{load}}"
        let data = JSON.parse(djangoParseJSON("{{data}}"))
        let docTitle = "{{title}}"
        let docChapter = "{{chapter}}"
        let LOADACTION = "load state"
        let staticPath = "{% static 'equationList/books' %}"


    </script>


    <script src="{% static 'equationList/js/pdfNote/globalVariables.js' %}" charset="utf-8"></script>

    <script src="{% static 'equationList/js/pdfNote/pasteEvent.js' %}" charset="utf-8"></script>
    <script src="{% static 'equationList/js/pdfNote/cellNew.js' %}" charset="utf-8"></script>
    <!-- <script src="{% static 'equationList/js/pdfNote/cell.js' %}" charset="utf-8"></script> -->
    <script src="{% static 'equationList/js/pdfNote/cellsControl.js' %}" charset="utf-8"></script>
    <script src="{% static 'equationList/js/pdfNote/keyboardEvent.js' %}" charset="utf-8"></script>
    <!-- <script src="{% static 'equationList/js/pdfNote/newSaveAndLoad.js' %}" charset="utf-8"></script> -->
    <script src="{% static 'equationList/js/pdfNote/noteCard.js' %}" charset="utf-8"></script>
    <!-- <script src="{% static 'equationList/js/pdfNote/saveAndLoad.js' %}" charset="utf-8"></script> -->
    <!-- <script src="{% static 'equationList/js/pdfNote/counter.js' %}" charset="utf-8"></script>
    <script src="{% static 'equationList/js/pdfNote/initializeFunctions.js' %}" charset="utf-8"></script>
    <script src="{% static 'equationList/js/pdfNote/checkMobile.js' %}" charset="utf-8"></script>-->
    <script src="{% static 'equationList/js/pdfNote/resize.js' %}" charset="utf-8"></script>
    <script src="{% static 'equationList/js/QuestionBank/QuestionBankLoad.js' %}" charset="utf-8"></script>


</html>
